<p>
  Envoyez à cette adresse les emplois du temps issus de votre logiciel métier.
</p>
<form action="/" method="post" enctype="multipart/form-data">
  <label for="file">Sélectionez l'export xml : </label>
  <input name="file" id="file" type="file" value=""/><br/>
  <button type="submit">Envoyer</button>
</form>



